<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.car.manage.mapper.item.guestbook.CommentMapper">

	<resultMap type="cn.car.manage.beans.orm.item.guestbook.Comment" id="comment">
		<id property="commentID" javaType="int" column="item_comment_id" jdbcType="INTEGER" />
		<result property="commentContent" javaType="String"
			column="item_comment_content" jdbcType="VARCHAR" />
		<result property="customerID" javaType="int" column="user_id"
			jdbcType="VARCHAR" />
		<result property="commentDate" javaType="String" column="item_comment_date"
			jdbcType="INTEGER" />
		<result property="commentLevel" javaType="int" column="comment_level"
			jdbcType="INTEGER" />
		<result property="replyDate" javaType="String" column="reply_date"
			jdbcType="VARCHAR" />
		<result property="handleState" javaType="int"
			column="handle_state" jdbcType="INTEGER" />
		<result property="replyContent" javaType="String"
			column="reply_content" jdbcType="VARCHAR" />
		<result property="userName" javaType="String"
			column="user_name" jdbcType="VARCHAR" />

	</resultMap>

	
	<!-- 模糊查分页 -->
	<select id="getCommentByCommentNameAndCommentID" resultMap="comment">
		select guestbook.item_comment_id,guestbook.item_comment_content,FROM_UNIXTIME(guestbook.item_comment_date) as item_comment_date,
		guestbook.handle_state,guestbook.reply_content,guestbook.comment_level,users.user_name,FROM_UNIXTIME(guestbook.reply_date) as reply_date
		from t_item_comment guestbook
		left join t_user users
		on guestbook.user_id=users.user_id
		<where>
		   <if test="userName !=null">
		     users.user_name =#{userName}
		   </if>
		   <if test="handleState !=0">
		     and guestbook.handle_state =#{handleState}
		   </if>
	 	</where>
	</select>
	<!-- 根据留言ID 查询 -->
	<select id="getCommentByCommentID" resultMap="comment">
		select guestbook.item_comment_id,guestbook.item_comment_content,guestbook.reply_content,users.user_name
		from t_item_comment guestbook
		left join t_user users
		on guestbook.user_id=users.user_id
		where guestbook.item_comment_id=#{commentID}
	</select>
	<!-- 删除 -->
	<delete id="deleteCommentByCommentID" parameterType="list">
		DELETE FROM t_item_comment WHERE item_comment_id IN
		<foreach collection="list" item="commentID" open="(" close=")" separator=",">
			#{commentID}
		</foreach>
	</delete>
		<!--根据用户名删除-->
	<delete id="deleteCommentByUserName" >
		DELETE FROM t_item_comment guestBook
		LEFT JOIN t_user users
		ON guestBook.user_id=users.user_id
		WHERE users.user_name=#{userName}
	</delete>
	<!-- 更新状态 -->
	<update id="updateCommentState">
    	UPDATE t_item_comment SET handle_state=#{handleState}
    	WHERE item_comment_id = #{commentID}
  	</update>
	<!-- 更新回复内容和时间 -->
	<update id="replyCommentContent">
    	UPDATE t_item_comment SET reply_content=#{replyContent},reply_date=UNIX_TIMESTAMP(now())
    	WHERE item_comment_id = #{commentID}
  	</update>
  	
  	<!-- 根据留言ID 查询 -->
	<select id="getCommentByUserName" resultMap="comment">
		select guestbook.item_comment_id,guestbook.item_comment_content,FROM_UNIXTIME(guestbook.item_comment_date) as item_comment_date,
		guestbook.handle_state,guestbook.reply_content,guestbook.comment_level,users.user_name,FROM_UNIXTIME(guestbook.reply_date) as reply_date
		from t_item_comment guestbook
		left join t_user users
		on guestbook.user_id=users.user_id
		<where>
		   <if test="userName !=null">
		     users.user_name =#{userName}
		   </if>
		</where>
	</select>
</mapper>
