@charset "utf-8";
/* CSS Document */
body{
	margin:0; padding:0; font-size:12px; font-family:"Microsoft YaHei"; line-height:25px; color:#555555;
}
div,table{
	margin:0 auto;
}
a{
	color:#555555; text-decoration:none; cursor:pointer;
}
a:hover{
	color:#ff4e00; text-decoration:none; cursor:pointer;
}
img{
	border:0;
}
ul,li,dl,dt,dd{
	list-style:none; margin:0; padding:0;
}
input,io,select,checkbox{
	vertical-align:middle;
}
h1,h2,h3,h4,h5,h6{
	padding:0; margin:0 auto;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
form{
	margin:0; padding:0;
}
.none{
	display:none;
}

/*html{ 
	-webkit-filter:grayscale(100%); filter:grayscale(100%);
}
html { overflow-y:scroll; filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); -webkit-filter: grayscale(100%);}*/

/*html{
	filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);	
}*/



/*---------------header---------------*/
.soubg{
	width:100%; min-width:1200px; height:35px; background-color:#f6f6f6; font-family:"宋体";
}
.sou{
	width:1200px; height:35px; line-height:35px;
}
.s_city_b{
	width:150px; height:35px; float:left;
}
.s_city{
	height:35px; background:url(../images/t_arrow.gif) no-repeat right center; float:left; padding-right:15px; cursor:pointer; position:relative;
}
.s_city:hover .s_city_bg{
	display:block;
}
.s_city_bg{
	width:254px; overflow:hidden; position:absolute; left:-50px; top:29px; z-index:900; display:none;
}
.s_city_t{
	width:9px; height:7px; line-height:7px; overflow:hidden; background:url(../images/c_t.gif) no-repeat center top; position:absolute; left:55px; top:0;
}
.s_city_c{
	width:252px; height:460px; overflow:hidden; background-color:#FFF; font-family:"Microsoft YaHei"; margin-top:6px; border:1px solid #cdcdcd;
}
.s_city_c h2{
	width:230px; height:29px; line-height:29px; overflow:hidden; font-size:14px; font-weight:normal; text-align:left; margin-top:5px; border-bottom:1px dotted #666666;
}
table.c_tab tr th{
	line-height:26px; font-weight:normal; color:#000; width:20px; text-transform:uppercase;
}
.c_h span{
	line-height:26px; float:left; display:inline; padding:0 3px; margin-right:3px; cursor:pointer;
}
.c_h span:hover{
	color:#ff4e00;
}
.c_h span.c_check{
	color:#FFF; background-color:#ff4e00;
}
/*.s_log{
	width:220px; height:35px; overflow:hidden; float:left;
}*/
.ss{
	width:225px; height:35px; float:left;
}
.ss_list{
	height:35px; background:url(../images/t_arrow.gif) no-repeat right center; float:left; display:inline; margin-left:10px; padding-right:15px; cursor:pointer; position:relative;
}
.ss_list:hover .ss_list_bg{
	display:block;
}
.ss_list_bg{
	width:116px; overflow:hidden; position:absolute; left:50%; top:29px; margin-left:-58px; z-index:900; display:none;
}
.ss_list_t{
	height:7px; line-height:7px; overflow:hidden; background:url(../images/c_t.gif) no-repeat center top; position:absolute; left:0; top:0;
}
.ss_list_c{
	overflow:hidden; background-color:#FFF; font-family:"Microsoft YaHei"; margin-top:6px; padding:10px 0; border:1px solid #cdcdcd;
}
.ss_list_c ul li{
	height:25px; line-height:25px; overflow:hidden; text-align:center;
}
.s_sh{
	width:55px; height:35px; overflow:hidden; float:left;
}
.s_sh a{
	width:20px; height:35px; line-height:35px; overflow:hidden; float:left; display:inline; margin:0 3px; text-indent:-9999em;
}
.s_sh a.sh1{
	background:url(../images/sh1.png) no-repeat center 8px;
}
.s_sh a.sh2{
	background:url(../images/sh2.png) no-repeat center center;
}	


.top{
	width:1200px; height:140px;
}
.logo{
	width:207px; height:55px; overflow:hidden; float:left; display:inline; margin-top:40px;
}
.search{
	width:520px; height:65px; overflow:hidden; float:left; display:inline; margin-left:134px; margin-top:50px;
}
.s_ipt{
	width:408px; height:36px; line-height:36px\9; overflow:hidden; color:#555555; font-size:14px; font-family:"Microsoft YaHei"; float:left; padding:0 10px; border:2px solid #ff4e00; border-right:0;
}
.s_btn{
	width:90px; height:40px; line-height:40px\9; background-color:#ff4e00; color:#FFF; font-size:16px; font-family:"Microsoft YaHei"; text-align:center; float:left; border:0; cursor:pointer;
}
.search a{
	margin-right:12px; display:inline-block;
}

.i_car{
	width:141px; height:38px; line-height:38px; background:url(../images/car.png) no-repeat 10px center; background-color:#f6f6f6; float:right; margin-top:50px; border:1px solid #d9d9d9; position:relative;
}
.car_t{
	width:95px; height:38px; overflow:hidden; background:url(../images/d_arrow.png) no-repeat right center; font-size:14px; margin-left:38px; cursor:pointer;
}
.car_t span{
	color:#ff4e00;
}
.i_car:hover .car_bg{
	display:block;
}
.car_bg{
	width:283px; overflow:hidden; background-color:#FFF; border:1px solid #d9d9d9; position:absolute; right:-1px; top:38px; z-index:900; display:none;
}
.un_login{
	overflow:hidden; text-align:center; margin:15px auto;
}
ul.cars{
	overflow:hidden;
}
ul.cars li{
	height:70px; overflow:hidden; margin-top:10px; border-bottom:1px solid #e2e2e2;
}
ul.cars li .img{
	width:58px; height:58px; overflow:hidden; float:left; display:inline; margin-left:15px; border:1px solid #e2e2e2;
}
ul.cars li .name{
	width:180px; height:40px; line-height:20px; overflow:hidden; color:#888888; font-family:"宋体"; float:left; display:inline; margin-left:8px;
}
ul.cars li .name a{
	color:#888888;
}
ul.cars li .name a:hover{
	color:#ff4e00;
}
ul.cars li .price{
	width:180px; height:20px; line-height:20px; overflow:hidden; color:#888888; font-size:14px; float:left; display:inline; margin-left:8px;
}
.price_sum{
	width:255px; height:30px; line-height:30px; overflow:hidden; font-size:14px; text-align:right; margin-top:10px;
}
.price_sum span{
	color:#ff4e00; font-size:20px; font-weight:bold;
}
.price_a{
	width:120px; height:35px; line-height:35px; overflow:hidden; background:url(../images/a_link.gif) repeat-x center top; color:#FFF; font-size:14px; text-align:center; margin-right:13px; margin-top:5px; margin-bottom:20px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;
}
.price_a a{
	color:#FFF;
}



.menu_bg{
	width:100%; min-width:1200px; height:43px; border-bottom:2px solid #ff4e00;
}
.menu{
	width:1200px; height:43px; line-height:43px; color:#3e3e3e; font-size:16px; position:relative; z-index:800;
}
ul.menu_r{
	width:720px; height:40px; overflow:hidden; float:left; display:inline; margin-left:211px;
}
ul.menu_r li{
	width:70px; height:40px; line-height:40px; overflow:hidden; text-align:center; float:left; display:inline; margin-right:10px;
}
ul.menu_r li a{
	width:70px; height:40px; overflow:hidden; float:left; color:#3e3e3e;
}
ul.menu_r li a:hover, ul.menu_r li a.now{
	color:#ff4e00;
}
.m_ad{
	width:260px; height:43px; line-height:40px; overflow:hidden; color:#ff3600; font-size:20px; font-weight:bold; text-align:right; float:right;
}

.nav{
	width:211px; height:45px; background-color:#ff3200; position:absolute; left:0px; top:0;
}
.nav_t{
	width:211px; height:43px; line-height:43px; overflow:hidden; color:#FFF; font-size:16px; text-indent:35px;
}	
.leftNav{
	width:211px; height:412px; background-color:#ff4e00; position:absolute; left:0; top:44px;
}
.none{
	display:none;
}
.leftNav ul li{ height:40px; line-height:40px; background:url(../images/n_arrow.gif) no-repeat 195px center; color:#FFF; font-size:14px; margin-left:1px; cursor:pointer; position:relative; }
.leftNav ul li .n_img{
	width:20px; height:21px; overflow:hidden; text-align:center; float:left; display:inline; margin-left:10px; margin-right:10px; margin-top:10px;
}
.leftNav ul li .n_img span{
	height:100%; vertical-align:middle; display:inline-block;
}
.leftNav ul li .n_img img{
	vertical-align:middle;
}
/*.leftNav ul li a{ color:#6e6e6e; }
.leftNav ul li a:hover{ color:#e02d02; }*/
.leftNav ul li ul{ width:220px; min-height:70px; overflow:hidden; background:url(../images/nav_bg.png) repeat center top; position:absolute; left:196px; top:0px; border:1px solid #d4d2d2; border-left:0px; z-index:900; display:none; }
.leftNav ul li ul li{ width:195px; height:auto; line-height:25px; overflow:hidden; font-size:12px; font-weight:normal; background:none; margin:10px auto; padding:0px 0px 5px 0px; border-bottom:1px dashed #d1d0d1; }
.leftNav ul li ul li a{ color:#989797; margin:0px 10px; }
.leftNav ul li ul li a:hover{ color:#e02d02; }
.leftNav ul li ul li .n_t{ width:50px; height:20px; line-height:20px; overflow:hidden; text-align:center; font-weight:bold; float:left; }
.leftNav ul li ul li .n_c{ width:142px; overflow:hidden; float:left; }
.leftNav ul li ul li .n_c a{ width:60px; height:20px; line-height:20px; overflow:hidden; float:left; display:inline-block; margin:0px 0px 0px 10px; }
.leftNav ul li .fj{ width:210px; height:40px; line-height:40px; display:block; overflow:hidden; position:absolute; left:0; top:0; z-index:901; }
.leftNav ul li .fj.nuw{	width:211px; text-decoration:none; height:40px; line-height:40px; background-color:#FFF; color:#ff4e00; z-index:800px; }

.leftNav .zj{ 
	width:989px; height:411px; overflow:hidden; background-color:#FFF; position:absolute; left:210px; top:0; display:none; 
}
.leftNav .zj .zj_l{
	width:685px; height:385px; overflow:hidden; float:left; display:inline; margin-left:20px; margin-top:15px;
}
.leftNav .zj .zj_l_c{
	width:280px; height:108px; line-height:25px; overflow:hidden; color:#dbdbdb; float:left; display:inline; margin-right:50px; margin-bottom:25px;
}
.leftNav .zj .zj_l_c h2{
	height:25px; line-height:25px; color:#3e3e3e; font-size:14px; font-weight:bold; margin-bottom:5px; margin-left:10px;
}
.leftNav .zj .zj_l_c a{
	line-height:22px; font-size:12px; font-family:"宋体"; padding:0 10px; margin:0;
}
.leftNav .zj .zj_r{
	width:236px; height:402px; overflow:hidden; float:right; display:inline; margin-right:10px; margin-top:5px;
}
.leftNav .zj .zj_r img{
	width:236px; height:200px; display:block; margin-bottom:1px;
}



/*---------------用户中心---------------*/
.m_top_bg{
	width:100%; height:140px; background-color:#ff4e00;
}
.m_logo{
	width:150px; height:58px; overflow:hidden; float:left; margin-top:38px;
}
.m_search{
	width:392px; height:40px; overflow:hidden; background-color:#FFF; float:left; display:inline; margin-left:450px; margin-top:49px;
}
.m_ipt{
	width:295px; height:40px; line-height:40px\9; overflow:hidden; color:#555555; font-size:14px; font-family:"Microsoft YaHei"; float:left; padding:0 10px; border:0;
}
.m_btn{
	width:70px; height:40px; line-height:40px\9; background-color:#f6f6f6; color:#555555; font-size:14px; font-family:"Microsoft YaHei"; text-align:center; float:right; border:0; cursor:pointer;
}
.m_content{
	width:1550px; overflow:hidden; margin-top:20px;
}
.m_left{
	width:200px; overflow:hidden; padding:5px; float:left;margin-left: 50px;
}
.left_n{
	height:35px; line-height:35px; overflow:hidden; background:url(../images/m_t.png) no-repeat 31px center; background-color:#ff4e00; color:#FFF; font-size:14px; text-indent:68px; margin-bottom:10px;
}
.left_m{
	overflow:hidden; background-color:#FFF; padding-bottom:20px; margin-bottom:10px; -webkit-box-shadow:0 0 5px #e0e0e0; -moz-box-shadow:0 0 5px #e0e0e0; box-shadow:0 0 5px #e0e0e0;
}
.left_m_t{
	height:35px; line-height:35px; overflow:hidden; color:#3e3e3e; font-size:14px; text-indent:68px; margin-bottom:10px; border-bottom:1px solid #e2e2e2;
}
.t_bg1{
	background:url(../images/m_i_1.png) no-repeat 31px center;
}
.t_bg2{
	background:url(../images/m_i_2.png) no-repeat 31px center;
}
.t_bg3{
	background:url(../images/m_i_3.png) no-repeat 31px center;
}
.t_bg4{
	background:url(../images/m_i_4.png) no-repeat 31px center;
}
.left_m ul li{
	height:28px; line-height:28px; overflow:hidden; color:#3e3e3e; text-indent:68px;
}
.left_m ul li a{
	color:#3e3e3e;
}
.left_m ul li a:hover, .left_m ul li a.now{
	color:#ff4e00;
}

.m_right{
	width:1235px; height:auto !important; min-height:737px; height:100%;position:static; background-color:#FFF; float:left;margin-left:200px; display:inline; margin:5px; padding-bottom:50px; -webkit-box-shadow:0 0 5px #e0e0e0; -moz-box-shadow:0 0 5px #e0e0e0; box-shadow:0 0 5px #e0e0e0;
}




