<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.car.manage.mapper.item.type.ItemTypeMapper">

	<resultMap type="cn.car.manage.beans.orm.item.type.ItemType" id="itemType">
		<id property="itemTypeID" javaType="INTEGER" column="item_type_id" jdbcType="INTEGER" />
		<result property="itemClassificationID" javaType="INTEGER"
			column="item_classification_id" jdbcType="INTEGER" />
		<result property="itemTypeName" javaType="String" column="item_type_name"
			jdbcType="VARCHAR" />

	</resultMap>

	<!-- 用户全部字段 -->
	<sql id="item_all_field">
		item_type_id,item_classification_id,item_type_name
	</sql>

	<!-- 插入 -->
	<sql id="item_add_field">
		item_classification_id,item_type_name
	</sql>


</mapper>
