@CHARSET "UTF-8";
.dataTables_wrapper .dataTables_info {
	clear: both;
	float: left;
	padding-top: 23px;
}
.dataTables_wrapper .dataTables_paginate {
	float: right;
	text-align: right;
	padding-top: 23px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	font-size: 14px;
	box-sizing: border-box;
	display: inline-block;
	margin-left: 4px;
	height:21px;
	padding-left: 7px;
	padding-right:7px;
	line-height:21px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	*cursor: hand;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	outline:0;
	border: 1px solid rgba(217,217,217,1);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	color: #FFF;
	background-color: rgba(40,57,76,1);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
	.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
	.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active
	{
	cursor: default;
	color: rgba(159,159,159,1);
	border: 1px solid rgba(217,217,217,1);
	background-color: #FFFFFF;
	box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background-color: rgba(242,242,242,1);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
	
}

.dataTables_wrapper .paginate_button.first, .dataTables_wrapper .paginate_button.last{
	padding-left:11px;
	padding-right:11px;
}

.dataTables_wrapper .paginate_button.previous{
	width:23px;
	vertical-align:bottom;
	background: url('../images/previous-page.png') 8px 6px no-repeat;
}

.dataTables_wrapper .paginate_button.next{
	width:23px;
	vertical-align:bottom;
	background: url('../images/next-page.png') 8px 6px no-repeat;
}